<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="navbar">
        <div id="right-logo" class="flex-items">
            <div class="box box-left"></div>
        </div>
        <div id="center-logo" class="flex-items">
            <div class="box box-center"></div>
        </div>
        <div id="right-logo" class="flex-items">
            <div class="box box-right"></div>
        </div>
    </nav>

    <div class="first-ad">
        <div class="ad-item">
            <img src="" alt="" class="image-firstad">
            <div class="ad-title">
                <h1>WANTED $10 MILLION</h1>
                <div class="alert-red">
                    <div class="alert"><p>NEW</p></div>
                </div>
            </div>
            <p>LOREM IPSUM DOLOR SIT AMET</p>
        </div>
        <div class="ad-item align-center">
            <h1>TEST</h1>
            <h2>TEST</h2>
            <h3>TEST</h3>
        </div>
        <div class="ad-item">
            <img src="" alt="" class="image-firstad">
            <div class="ad-title">
                <h1>WANTED $10 MILLION</h1>
                <div class="alert-red">
                    <div class="alert"><p>NEW</p></div>
                </div>
            </div>
            <p>LOREM IPSUM DOLOR SIT AMET</p>
        </div>
    </div>

   <div class="hero-image">
        <img src="" alt="">
   </div>

   <div class="personal-intro">
        <div class="big-box"></div>
        <div class="tiny-box"></div>
   </div>

   <div class="personal-intro">
        <div class="tiny-box"></div>
        <div class="big-box"></div>
   </div>

   <div class="border">
        <h2 class="line"><span>Explore More</span></h2>
   </div>

   <!-- REUSING FIRST AD ELEMENTS -->
    <div class="first-ad">
        <div class="ad-item"></div>
        <div class="ad-item"></div>
        <div class="ad-item"></div>
    </div>

    <div class="footer-one">

    </div>

    <div class="footer-two">

    </div>
   
</body>
</html>