body {
    background-color: #A99A8E;
}

.navbar {
    display: flex;
    flex-direction: row;
}

nav {
    border-bottom: 2px solid rgba(255, 0, 0, .5);
}

.flex-items {
    flex-grow: 1;
    margin: 0 2px;
    min-height: 5rem;
    /* opacity: 25%; */
}

.box {
    min-height: 80%;
    min-width: 5rem;
    background-color: #BD5F5F;
    margin: 5px 1rem;
}

.box-right {
    float: right;
}

.box-left {
    float: left;
}

.first-ad {
    height: 20em;
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
    padding: 0 1rem;
}

.ad-item {
    flex-grow: 1;
    background-color: #BD5F5F;
    height: 100%;
    width: 25%;
    margin: 0 2px;
    display: flex;
    flex-direction: column;
}

.hero-image {
    height: 28rem;
    background-color: #BD5F5F;
    margin: 0 1rem 1rem 1rem;
}

.personal-intro {
    height: 25rem;
    display: flex;
}

.tiny-box {
    flex-grow: 2;
    background-color: #BD5F5F;
    margin: 0.5rem 1rem;
}

.big-box {
    flex-grow: 3;
    background-color: brown;
    margin: 0.5rem 1rem;
}

h2.line {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h2 span { 
     background:#A99A8E; 
     padding:0 10px; 
 }

 .border {
    margin: 2rem 0;
 }

 .footer-one {
    height: 7rem;
    margin: 2rem 1rem 1rem 1rem;
    background-color: #BD5F5F;
 }

 .footer-two {
    height: 5rem;
    margin: 1rem;
    background-color: #BD5F5F;
 }

 .align-center {
    text-align: center;
 }

 .image-firstad {
    min-width: 50%;
    min-height: 60%;
    margin: 1rem 3rem 0 3rem;
    background-color: #000;
 }

 .ad-title {
    display: flex;
    flex-direction: row;
 }

 div.ad-title>h1 {
    margin: 0 0 0 3rem;
    height: 100%;
    color: antiquewhite;
 }

 div.alert-red {
    width: 5rem;
    height: 100%;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
 }

.alert {
    display: flex;
    justify-content: center;
    margin:auto;
    height: 2rem;
    width: 3.5rem;
    border-radius: 50px;
    background-color: red;
}

.alert>p {
    margin: auto;
    size: 2px;
}

.ad-item>p {
    margin:0 0 0 3rem;
}